#companyName {
    color:white;
    font-size: 2em;
    font-weight: bold;
}

.authPage {
    display: flex;
}

.authPage .clip {
    margin: 5px;
}


.authButton {
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.authPage .authButton .film:hover {
    background-color: white;
    font-size: 1.5em;
}

.auth_label {
    font-size: 1em;
}

.auth_field {
    font-size: .8em;
}

#loginForm div, #registerForm div {
    margin-bottom: 5px;
}

@media only screen and (max-width:425px){
    
        .authPage{
            display: initial;
        }
    
        .authPage .clip {
          margin:0px;
    
        }
        .authPage .film {
            padding-top: 0%;
        }
    
        #companyName {
            border: none;
        }
    }
    
@media only screen and (min-width:425px) and (max-width: 425px){
    .authPage .clip {
        width: 50%;
        left: 8%;
    }
}