.customizedReel {
    text-align: left;
    width: 60%;
    margin: auto;
    min-width: 300px;
}

.customOptions {
    display: flex;

}

.customizedTitle {
    display: inline;

}

.customizedTitle:hover {
    cursor: pointer;
    font-size: 1.1em;
}

.customizeDates {
    width: 50%;
}

.partialList {
    width: 50%;
    text-align: center;
}

/* the css below will display a description of what pressing a button on the customize reel will do */
.hiddenText {
    display: none;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    border: 1px solid white;
    
}

/* shows the text when the button is hovered over */
.highButton:hover .highText, .lowButton:hover .lowText, .setButton:hover .setText {
    display: initial;
    margin: 8px;

}

/* adds an arrow to the text bubble */
.highText::after, .lowText::after, .setText::after{
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 3%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

@media only screen and (max-width: 768px){

    .highButton:hover .highText, .lowButton:hover .lowText, .setButton:hover .setText {
        display: none;
    
    }
}





