<ul ng-controller="NavCtrl">
        <li ng-if="isAuthenticated()"><img id="logo" src="../../../img/reel.jpg" alt="movie reel"></li>
        <li ng-if="isAuthenticated()" id="companyName">Life Reel</li>
        <li ng-if="isAuthenticated()"><a href="#!/landing">Home</a></li>
        <li ng-if="isAuthenticated()"><a href="#!/reel">View Your Reel</a></li>
        <li ng-if="isAuthenticated()"><a href="#!/friends/list">Friends</a></li>
    
        <li class="align-right">
            <span ng-if="isAuthenticated()">
                <a href="#" ng-click="logout()">Logout</a>
            </span>
        </li>
    
</ul>