<ul ng-controller="NavCtrl">
        <li class="align-left"><a href="#!/landing" id="logo"><img id="logoIcon" src="../../../img/reelNoFill.png" alt="movie reel" ></a></li>
        <li ng-if="notAuthenticated()" class="align-center" id="companyName">Life Reel</li>
        <li ng-if="isAuthenticated()" class="align-center"><a href="#!/landing">Home</a></li>
        <li ng-if="isAuthenticated()" class="align-center"><a href="#!/reel">View Your Reel</a></li>
        <li ng-if="isAuthenticated()" class="align-center"><a href="#!/friends/list">Friends</a></li>
    
        <li class="align-right">
            <span ng-if="isAuthenticated()">
                <a href="#" ng-click="logout()">Logout</a>
            </span>
        </li>
    
</ul>