<section class="clapper">
    <div class="top"></div>
    <div class="bottom_top"></div>

    <div id="loginForm" class="bottom">
        <h1>Please log-in</h1>

        <div>
            <span class="auth_label">Email:</span> 
            <input class="auth_field" type="email" placeholder="Email address" ng-model="auth.email"  autofocus>
        </div>

        <div>
            <span class="auth_label">Password:</span> 
            <input class="auth_field" type="password" placeholder="Password" ng-model="auth.password">
        </div>
        
        <button ng-click="loginUser(auth)">Login</button>
        <button ng-click="authPage()">Cancel</button>
    </div>
</section>