<a href="#!/friends/list">Back</a>
<h1>{{heading}}</h1>

<div ng-repeat="segment in eventArray | orderBy: 'date'" class="segment, clip" id="{{segment.eventId}}">
        <div class="film">
                <h1 class="seg_date">{{segment.date | date:"longDate"}}</h1>
                <h1 class="seg_title">{{segment.title}}</h1>
                <div class="seg_rating" ng-if="segment.rating === 5">
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 5"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 5"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 5"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 5"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 5"/>
                </div>
                <div class="seg_rating" ng-if="segment.rating === 4">
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 4"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 4"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 4"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 4"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 4"/>
                </div>
                <div class="seg_rating" ng-if="segment.rating === 3">
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 3"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 3"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 3"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 3"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 3"/>
                </div>
                <div class="seg_rating" ng-if="segment.rating === 2">
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 2"/>
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 2"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 2"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 2"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 2"/>
                </div>
                <div class="seg_rating" ng-if="segment.rating === 1">
                        <img  class="stars" src="../../../img/starFilled.png" alt="star rating 1"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 1"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 1"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 1"/>
                        <img  class="stars" src="../../../img/starEmpty.png" alt="star rating 1"/>
                </div>
                <p class="seg_description">{{segment.description}}</p>
        </div>
        

</div>

