<section>

    <h1>{{heading}}</h1>
    
    <div ng-repeat="friend in allFriends" class="friends, current">
        <p class="friendName">{{friend.friendName}} <i class="friendDate">Friends since {{friend.date | date:"shortDate"}}</i></p>
        <a href="#!/friends/reel/{{friend.friendUID}}" class="friendReel">View Reel</a>
        <button ng-click="removeFriend(friend)">Remove Friend</button>
    </div>

</section>
<section ng-include="'./app/friends/partials/sentRequests.html'"></section>

<section>
    <h3 ng-click="showPending()"><u>Add New Friends</u></h3>
</section>
