<section ng-controller="ReceivedCtrl" id="receivedRequests">
        <h1>{{heading}}</h1>
    
        <div ng-repeat="friend in receivedRequests" class="friends, received">
            <p class="friendName">{{friend.senderName}} <i class="friendDate">Received on {{friend.date | date:"shortDate"}}</i></p>
            <button ng-click="confirmRequest(friend)">Confirm Request</button>
            <!-- <button ng-click="deleteRequest(friend)">Delete Request</button> -->
        </div>
    </section>