<section ng-controller="SearchCtrl">
    <h1>{{heading}}</h1>
    <span>
        <input type="text" ng-model="searchString" placeholder="Search">
        <button ng-click="findUser(searchString)">Search</button>
    </span>
    
    <div ng-repeat="user in userList">
        <p>{{user.fullName}}</p>
        <button ng-click="addFriend(user)" ng-if="user.pendingStatus !== true &&user.pendingStatus !== false">Add as Friend</button>
        <i ng-if="user.pendingStatus === true">Friend Request Sent on {{user.dateSent | date:"shortDate"}}</i>
        <i ng-if="user.pendingStatus === false">Current Friend</i>
        
    </div>
</section>
