<section id="addSegment" class="clapper">
    <div class="top"></div>
    <div class="bottom_top"></div>

    <div class="bottom">
        <h1 class="form_heading">{{heading}}</h1>

        <div>
            <span class="form_label">Title:</span> 
            <input class="form_title" type="text" ng-model="newEvent.title"/>
        </div>

        <div>
            <span class="form_label">Date:</span> 
            <input class="form_date" type="date" ng-model="date"/>
        </div>


        <span class="rating">
            <span class="form_label">Rating:</span>
            <input id="rating5" type="radio" name="rating" value="5" ng-model="rating" class="rating_input">
            <label for="rating5" class="rating_star"></label>
            <input id="rating4" type="radio" name="rating" value="4" ng-model="rating" class="rating_input">
            <label for="rating4" class="rating_star"></label>
            <input id="rating3" type="radio" name="rating" value="3" ng-model="rating" class="rating_input">
            <label for="rating3" class="rating_star"></label>
            <input id="rating2" type="radio" name="rating" value="2" ng-model="rating" class="rating_input">
            <label for="rating2" class="rating_star"></label>
            <input id="rating1" type="radio" name="rating" value="1" ng-model="rating" class="rating_input">
            <label for="rating1" class="rating_star"></label>
        </span>
            

        <div>
            <span class="form_label">Description:</span> 
            <textarea class="form_description" ng-model="newEvent.description"></textarea>
        </div>

        <div>
            <span class="form_label">Private:</span> 
            <input class="form_private" type="checkbox" value="true" ng-model="newEvent.private" />
        </div>

        <button ng-click="addEvent(newEvent)">Add</button>
        <button ng-click="backHome()">Cancel</button>     
    </div>

</section>
