
<button ng-click="backToReel()">Back to Your Reel</button>
<section id="editSegment" >

    <h3>Edit This Segment</h3>

    <div>
        Title: <input type="text" value="{{event.title}}" ng-model="editEvent.title"/>
    </div>
    <div>
        Date: <input type="date" value="{{editEvent.date | date:'yyyy'}}-{{editEvent.date | date:'MM'}}-{{editEvent.date | date:'dd'}}" ng-model="date"/>
        
    </div>

    <span class="rating">
        Rating:
        <input id="rating5" type="radio" name="rating" ng-value="5" ng-model="selectedRating" class="rating_input">
        <label for="rating5" class="rating_star"></label>
        <input id="rating4" type="radio" name="rating" ng-value="4" ng-model="selectedRating" class="rating_input"> 
        <label for="rating4" class="rating_star"></label>
        <input id="rating3" type="radio" name="rating" ng-value="3" ng-model="selectedRating" class="rating_input">
        <label for="rating3" class="rating_star"></label>
        <input id="rating2" type="radio" name="rating" ng-value="2" ng-model="selectedRating" class="rating_input">
        <label for="rating2" class="rating_star"></label>
        <input id="rating1" type="radio" name="rating" ng-value="1" ng-model="selectedRating" class="rating_input">
        <label for="rating1" class="rating_star"></label>
    </span>
    

    <div>
        Description: <textarea ng-model="editEvent.description">{{event.description}}</textarea>
    </div>
    <div>
        Private: <input type="checkbox" value="true" ng-checked="editEvent.private" ng-model="editEvent.private">
    </div>
    <button ng-click="saveEvent(editEvent)">Save</button>
</section>

<section id="deleteSegment">
    <h3>Delete This Segment</h3>
    <!-- deletes the segment -->
    <button ng-click="deleteThis = !deleteThis">Delete</button>
    <div ng-show="deleteThis">
        Are you sure you want to delete this segment?
        <button ng-click="deleteEvent()">Yes</button>
        <button ng-click="deleteThis = !deleteThis">No</button>
    </div>
</section>
        
