<section>
    <h1>{{heading}}</h1>

<button ng-click="highlights()">Show Highlights</button>
<button ng-click="lowlights()">Show Lowlights</button>
<button ng-click="showAll()">Show All</button>

    <div ng-repeat="segment in eventArray | orderBy: ['-rating', 'date']" class="segment" id="{{segment.eventId}}">
        <h3 class+"title">{{segment.title}}</h3>
        <p "date">{{segment.date | date:"longDate"}}</p>
        <p "rating">{{segment.rating}}</p>
        <p "description">{{segment.description}}</p>


        <a href="#!/edit/{{segment.eventId}}">Edit/Delete</a>


    </div>

</section>