<section>
    <h1>{{heading}}</h1>

<button ng-click="highlights()">Show Highlights</button>
<button ng-click="lowlights()">Show Lowlights</button>
<button ng-click="showAll()">Show All</button>

    <div ng-repeat="segment in eventArray | orderBy: 'rating':true" class="segment" id="{{segment.eventId}}">
        <h3 class+"title" ng-model="seg-title">{{segment.title}}</h3>
        <p "date" ng-model="seg-date">{{segment.date | date:"longDate"}}</p>
        <p "rating">{{segment.rating}}</p>
        <p "description">{{segment.description}}</p>

        <!-- deletes the segment -->
        <a href ng-click="deleteThis = !deleteThis">Delete</a>
        <div ng-show="deleteThis">
            Are you sure you want to delete this segment?
            <button id="delete!{{segment.eventId}}"ng-click="deleteEvent($event); deleteThis = !deleteThis">Yes</button>
            <button ng-click="deleteThis = !deleteThis">No</button>
        </div>

    </div>

</section>