
nav, footer {
    background-color: black;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
    min-width: 575px;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
    text-align: right;
}

footer span {
    color: white;
    margin-right: 10px;
    font-size: .9em;
}

nav > ul {
    padding: 10px;
    margin: 0 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}


nav > ul > li {
    list-style-type: none;
    margin: 0 10px;
    padding: 5px;
}

nav a:not(#logo){
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 5px;
}

nav a:hover:not(#logo) {
    background-color: white;
    color: black
}


.align-right {
    position: fixed;
    right: 10px;
}

.align-left {
    position: fixed;
    left: 10px;
}



#logoIcon {
    height: 45px;
}

#logoIcon:hover {
    background-color: white;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: LightSteelBlue;
}

.content {
    margin-top: 100px;
    margin-bottom: 50px;
}

.loginPage {
    padding-top: 25px;
}

button {
    background-color: lightgray;
    color: black;
    font-size: .75em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 2px black;
}

.pageHeading {
    text-align: center;
}

@media only screen and (max-width:320px){
    body{
        background-color: green;
    }

    nav, footer {
        max-width: 320px;
    }
    
    .align-left{
        left: 2px;
    }

    .align-right{
        right: 2px;
    }

    footer span {
        color: white;
        margin-right: 10px;
        font-size: .9em;
    }

    nav > ul {
        margin: 2px;
        flex-flow:inherit;
        justify-content:left;
        margin-left: 50px;
    }


    nav > ul > li {
        margin: 0 1px;
    }

    nav a:not(#logo){
        font-size: .8em;
        padding: 1px;
    }

}