.rating {
    overflow: hidden;
    display: inline-block;
}

.rating_input {
    float: right;
    width: 33px;
    height: 33px;
    padding: 0;
    margin: 0 0 0 -33px;
    opacity: 0;
}


.rating:hover .rating_star:hover, .rating:hover .rating_star:hover ~ .rating_star, .rating_input:checked ~ .rating_star {
    background-position: 0 0;
    background: url("../img/starFilledWhite.png") 0 -33px;
    background-size: 33px 33px
}

.rating_star, .rating:hover .rating_star {
    cursor: pointer;
    position: relative;
    display: block;
    float: right;
    width: 33px;
    height: 33px;
    background: url("../img/starEmptyWhite.png") 0 -33px;
    background-size: 33px 33px
}
