.rating {
    overflow: hidden;
    display: inline-block;
}

.rating_input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}


.rating:hover .rating_star:hover, .rating:hover .rating_star:hover ~ .rating_star, .rating_input:checked ~ .rating_star {
    background-position: 0 0;
    background: url("../img/starFilled.png") 0 -16px;
    background-size: 16px 16px
}

.rating_star, .rating:hover .rating_star {
    cursor: pointer;
    position: relative;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url("../img/starEmpty.png") 0 -16px;
    background-size: 16px 16px
}

.stars {
    width: 40px;
    height: 40px;
}