#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 350px; /* Set a default minimum width */
    margin-left: -175px; /* Divide value of min-width by 2 */
    background-color: lightgray; 
    color: black; 
    text-align: center; 
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px; 
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 150px; /* 150px from the top */
    font-size: 1.25em;
    font-weight: bold;
}


#snackbar.show {
    visibility: visible; /* Show the snackbar */
}