#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 350px; /* Set a default minimum width */
    margin-left: -175px; /* Divide value of min-width by 2 */
    background-color: lightgray; 
    color: black; 
    text-align: center; 
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    top: 150px; 
    font-size: 1.25em;
    font-weight: bold;
}


#snackbar.show {
    visibility: visible; /* Show the snackbar */
}